In [1]:
# TODO: Add import statements
import numpy as np
import pandas as pd
from sklearn.cross_validation import ShuffleSplit

D:\anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
bmi_life_data = pd.read_csv("bmi_and_life_expectancy.csv")

In [4]:
bmi_life_data.head()

       Country  Life expectancy       BMI
0  Afghanistan             52.8  20.62058
1      Albania             76.8  26.44657
2      Algeria             75.5  24.59620
3      Andorra             84.6  27.63048
4       Angola             56.7  22.25083

In [8]:
x_values = bmi_life_data.drop(bmi_life_data.columns[[0,1]],axis=1)
x_values.describe()

              BMI
count  163.000000
mean    24.792378
std      2.427900
min     19.866920
25%     22.527940
50%     25.320540
75%     26.603960
max     30.995630

In [9]:
x_values.head()

        BMI
0  20.62058
1  26.44657
2  24.59620
3  27.63048
4  22.25083

In [10]:
y_values = bmi_life_data[['Life expectancy']]

In [13]:
from sklearn.linear_model import LinearRegression
bmi_life_model = LinearRegression()

In [14]:
bmi_life_model.fit(x_values,y_values)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [15]:
laos_life_exp = bmi_life_model.predict(21.07931)

In [16]:
print(laos_life_exp)

[[60.31564716]]